body {
  background-color: #F0F2F5;
}

.edit-field {
  display: none;
}

.editing .edit-field {
  display: block;
}

#modal-compras.editing .modal-footer :is(.btn-primary, .btn-success) {
  display: none;
}

input[readonly] {
  background-color: #f8f9fa;
  cursor: default;
}

.icon {
  width: 1rem;
  height: 1rem;
}

:is(form, table) button.btn {
  display: inline-flex;
  place-items: center;
}

table tbody tr[cancelled] {
  text-decoration: line-through;
}
