<div class="modal fade" id="modal-funcionario" tabindex="2" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Cadastrar novo funcionário</h3>
      </div>
      <div class="modal-body">
        <p class="lead">Preencha todos os campos obrigatórios!</p>
        <form method="POST">
          {% csrf_token %}
          <div class="fields row pb-3">
            <div class="field col-4 edit-field">
              <label for="id">ID</label>
              <input type="text" class="form-control" name="id" readonly id="id">
            </div>
            <div class="field col-4 edit-field">
              <label for="data_cadastro">Criado em</label>
              <input type="text" class="form-control" readonly id="data_cadastro" name="data_cadastro" disabled>
            </div>
            <div class="field col-4 edit-field">
              <label for="data_ultima_alteracao">Atualizado em</label>
              <input type="text" class="form-control" readonly id="data_ultima_alteracao" name="data_ultima_alteracao" disabled>
            </div>
            <div class="field col-6">
              <label for="nome_funcionario">Nome</label>
              <input
                id="nome_funcionario"
                type="text"
                name="nome_funcionario"
                class="form-control"
                required
              />
            </div>
            <div class="field col-6">
              <label for="sobrenome_funcionario">Sobrenome</label>
              <input
                id="sobrenome_funcionario"
                type="text"
                name="sobrenome_funcionario"
                class="form-control"
                required
              />
            </div>
            <div class="field col-6">
              <label for="cargo_id">Cargo</label>
              <select class="form-select" required id="cargo_id" name="cargo_id">
                <option value="new">Novo cargo</option>
                <option value="" selected>Selecione um cargo</option>
                {% for cargo in cargos %}
                  <option value="{{ cargo.id }}">{{ cargo.nome_cargo }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="field col-6">
              <label for="sexo_funcionario">Sexo</label>
              <select
                class="form-select"
                required
                id="sexo_funcionario"
                name="sexo_funcionario"
              >
                <option value="" selected>Selecione um sexo</option>
                <option value="male">Masculino</option>
                <option value="female">Feminino</option>
                <option value="other">Outro</option>
              </select>
            </div>
            <div class="field col-6">
              <label for="telefone_funcionario">Telefone</label>
              <input
                id="telefone_funcionario"
                type="phone"
                data-type="phone"
                name="telefone_funcionario"
                class="form-control"
                required
              />
            </div>
            <div class="field col-6">
              <label for="data_nascimento_funcionario"
                >Data de nascimento</label
              >
              <input
                id="data_nascimento_funcionario"
                type="date"
                data-type="pastdate"
                name="data_nascimento_funcionario"
                class="form-control"
                required
              />
            </div>
            <div class="field col-6">
              <label for="rua_funcionario">Rua</label>
              <input
                id="rua_funcionario"
                type="text"
                name="rua_funcionario"
                class="form-control"
                required
              />
            </div>
            <div class="field col-6">
              <label for="bairro_funcionario">Bairro</label>
              <input
                required
                id="bairro_funcionario"
                type="text"
                name="bairro_funcionario"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="numero_rua_funcionario">Número</label>
              <input
                id="numero_rua_funcionario"
                type="text"
                min="0"
                name="numero_rua_funcionario"
                class="form-control"
                required
              />
            </div>
            <div class="field col-6">
              <label for="cep_funcionario">CEP</label>
              <input
                id="cep_funcionario"
                type="text"
                data-type="cep"
                name="cep_funcionario"
                class="form-control"
                required
              />
            </div>
            <div class="field col-6">
              <label for="complemento_funcionario">Complemento</label>
              <input
                id="complemento_funcionario"
                type="text"
                name="complemento_funcionario"
                class="form-control"
              />
            </div>
            <div class="field col-6">
              <label for="cidade_id">Cidade</label>
              <select name="cidade_id" id="cidade_id" class="form-select" value="" required>
                <option value="new">Nova cidade</option>
                <option value="" selected>Selecione uma cidade</option>
                {% for cidade in cidades %}
                  <option value="{{cidade.id}}">{{cidade.nome_cidade}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="field col-6">
              <label for="cpf_funcionario">CPF</label>
              <input
                id="cpf_funcionario"
                data-type="cpf"
                class="form-control"
                name="cpf_funcionario"
                type="text"
              />
            </div>
            <div class="field col-6">
              <label for="rg_funcionario">RG</label>
              <input
                id="rg_funcionario"
                class="form-control"
                name="rg_funcionario"
                data-type="rg"
                type="text"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div></div>
        <div class="buttons">
          <button type="button" class="btn btn-secondary" onclick="{{ on_cancel }}">
            Cancelar
          </button>
          <button type="button" class="btn btn-success" onclick="{{ on_save }}">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
