{% extends "base.html" %}

{% load static format_date %}

{% block page_title %}Compras{% endblock page_title %}

{% block content %}

<div class="d-flex justify-content-between mb-4">
  <h1>Lista de Compras</h1>
  <button class="btn btn-primary" onclick="abrirModalCompras()">
    Novo Cadastro
  </button>
</div>

{% if compras %}
<table class="table table-hover">
  <thead>
    <tr class="table-light">
      
      <th scope="col">Nota Fiscal</th>
      <th scope="col">Modelo da Nota</th>
      <th scope="col">Série da Nota</th>
      <th scope="col">Fornecedor</th>
      <th scope="col">Total</th>
      <th scope="col">Data Emissão</th>
      <th scope="col">Data Chegada</th>
      <th scope="col" class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for compra in compras %}
    <tr {% if compra.cancelado %}cancelled{% endif %}>
      <td>{{compra.nota_fiscal}}</td>
      <td>{{compra.modelo_id}}</td>
      <td>{{compra.serie}}</td>
      <td>{{compra.fornecedor_nome}}</td>
      <td>R$ {{compra.valor_total}}</td>
      <td>{{compra.data_emissao|format_date}}</td>
      <td>{{compra.data_chegada|format_date}}</td>
      <td align="center">
        <button type="button" {% if compra.cancelado %}disabled{% endif %} onclick="cancelarCompra('{{compra.nota_fiscal}}', '{{compra.modelo_id}}', '{{compra.serie}}', '{{compra.fornecedor_id}}')" class="btn btn-sm btn-danger">
          <img class='icon' src="{% static 'img/icons/xmark.svg' %}" alt="Excluir" />
        </button>
        <button class="btn btn-sm btn-primary" onclick="verCompras('{{compra.nota_fiscal}}', '{{compra.modelo_id}}', '{{compra.serie}}', '{{compra.fornecedor_id}}')">
          <img src="{% static 'img/icons/eye.svg' %}" alt="Ver compra" class="icon">
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <p>Sem dados cadastrados</p>
{% endif %}

{% include 'compras/compra_modal.html' %}
{% include 'produtos/produto_modal.html' with on_save="salvarProduto()" on_cancel="abrirModal('#modal-compras')" %}
{% include 'fornecedor/fornecedor_modal.html' with on_save="salvarFornecedor()" on_cancel="abrirModal('#modal-compras')" %}
{% include 'pagamento/condicao_pagamento_modal.html' with on_save="salvarCondicao()" on_cancel="abrirModal('#modal-compras')" %}
{% include 'pagamento/forma_pagamento_modal.html' with on_save="salvarPagamento()" on_cancel="abrirModal('#modal-condicao')" %}
{% include 'cidade/cidade_modal.html' with on_save="salvarCidade()" on_cancel="abrirModal('#modal-fornecedor')" %}
{% include 'pagamento/modelo_modal.html' with on_save="salvarModelo()" on_cancel="abrirModal('#modal-compras')" %}


<script src="{% static 'js/compras/compras.js' %}"></script>
<script src="{% static 'js/compras/compras_modais.js' %}"></script>
<script src="{% static 'js/compras/compras_notas_fiscais.js' %}"></script>
<script src="{% static 'js/compras/compras_produtos.js' %}"></script>


{% endblock content %}
