<div class="modal fade" id="modal-modelo" tabindex="2" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Cadastrar novo modelo de nota fiscal</h3>
      </div>
      <div class="modal-body">
        <p class="lead">Preencha todos os campos obrigatórios!</p>
        <form method="POST">
          {% csrf_token %}
          <div class="field col-12 border rounded text-center py-2 edit-field">
            <input
              type="checkbox"
              name="status"
              class="form-check-input"
              id="status"
              checked="true"
            />
            <label class="form-check-label" for="status">Ativo</label>
          </div>
          <div class="fields row pb-12">
            <div class="field col-4 edit-field">
              <label for="id">ID</label>
              <input type="text" class="form-control" name="id" readonly id="id">
            </div>
            <div class="field col-4 edit-field">
              <label for="data_cadastro">Criado em</label>
              <input type="text" class="form-control" readonly id="data_cadastro" name="data_cadastro" disabled>
            </div>
            <div class="field col-4 edit-field">
              <label for="data_ultima_alteracao">Atualizado em</label>
              <input type="text" class="form-control" readonly id="data_ultima_alteracao" name="data_ultima_alteracao" disabled>
            </div>
            <div class="field col-12">
              <label for="numero_modelo">Número do modelo da nota Fiscal</label>
              <input type="text" class="form-control" name="numero_modelo" id="numero_modelo" required>
            </div>
            <div class="field col-12">
              <label for="descricao_modelo">Descrição</label>
              <input type="text" class="form-control" name="descricao_modelo" id="descricao_modelo">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div></div>
        <div class="buttons">
          <button type="button" class="btn btn-secondary" onclick="{{ on_cancel }}">
            Cancelar
          </button>
          <button type="button" class="btn btn-success" onclick="{{ on_save }}">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
